@page
@model HD.ProfileManager.Web.Pages.Organizations.DeleteModel
@{
//Layout = null;
}

<div class="modal-body p-4">
    <div class="text-center">
        <i class="ri-close-circle-line h1"></i>
        <h4 class="mt-2">Oh snap!</h4>
        <p class="mt-3">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Continue</button>
    </div>
</div>