@page
@using ProductManager.Web.Pages.Products
@using Microsoft.Extensions.Localization
@using ProductManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject IStringLocalizer<ProductManagerResource> localizer
@inject IThemeManager ThemeManager
@{
    Layout = ThemeManager.CurrentTheme.GetLayout(StandardLayouts.Application);
}
@section scripts
{
     <abp-script src="/Pages/Products/Index.js" />
}
@model ProductManager.Web.Pages.Products.IndexModel


<abp-card>
 <abp-card-header>
    <h2>@localizer["Menu:Products"]</h2>
 </abp-card-header>
 <abp-card-body>
 <abp-table id="ProductsTable" striped-rows="true" />
    </abp-card-body>
</abp-card>