@page
@using ProductManager.Web.Pages.Products
@using Microsoft.Extensions.Localization
@using ProductManager.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject IStringLocalizer<ProductManagerResource> localizer
@inject IThemeManager ThemeManager
@{
    Layout = ThemeManager.CurrentTheme.GetLayout(StandardLayouts.Application);
}
@section scripts
{
     <abp-script src="/Pages/Products/Index.js" />
}
@model ProductManager.Web.Pages.Products.IndexModel


<h1>Test</h1>
@Model.Data.TotalCount
